@import url(style.css);
@import url(faq.css);

.questions{
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
}

.questions:nth-child(odd){
    color: white;
    background-color: #440F51;
}
.questions:nth-child(odd)::after{
    content: "";
    background-image: url("img/icons/open.svg");
    background-size: contain; 
    width: 30px;
    height: 30px;
    float:right;
    background-repeat: no-repeat;
}
.questions:nth-child(even)::after{
    content: "";
    background-image: url("img/icons/open-purple.svg");
    background-size: contain; 
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float:right;
}